<div class="blogPost">
  <h3>Seeking new opportunity</h3>
  <br />
  <div class="postTime">August 4, 2018</div>
  <br />
  <div class="postContent">
    <p>Howdy. After 6 challenging and enlightening months at a very promising startup called Creative Radicals, I elected to resign.
      It's not easy to walk away from a good job, working on a greenfield project with young technologies, but rest assured that I had good reasons.
      I was confident that a better career fit existed, somewhere, and did not want to waste anybody's time by starting to half-ass my job while
      I looked for another one.
    </p>
    <p>I'm a young developer, seeking to specialize more on the front-end. I have a strong grasp of Angular, and a burgeoning interest in
    creating UI workflows that make the most possible sense to the user. I'll continue to work on projects every day, as I pursue the ideal front-end dev job
    for me to grow in.</p>
  </div>
</div>
